---
import BaseLayout from '../layouts/BaseLayout.astro';
import Images from '../components/Images.astro';
import Button from '../components/Button.astro';
import Headshot from '../assets/images/headshot.png';
import Grid from '../components/Grid.astro';
import Cube from '../components/Cube.astro';
import Spot1 from '../assets/images/spot-1.png';
import Spot2 from '../assets/images/spot-2.png';
import Spot3 from '../assets/images/spot-3.png';
import Spot4 from '../assets/images/spot-4.png';
---

<BaseLayout>
	<div class="inner-layout">
		<h2>When we're all thriving, we're all thriving.</h2>
		<Images src={Headshot} align="right" alt="Headshot of Teresa Fisher, PhD." />
		<p>Welcome! It's wonderful that you're taking the (not always easy) step of recognizing that you could use some support, or skills, or challenge to approach something differently.</p>
		<p>Have you found yourself overthinking every little decision? Imagining the “worst case scenario” on repeat? Convincing yourself that you don't have much to offer? If these kinds of patterns are leaving you exhausted and blocked from having the connections and relationships you want with people, yourself, or the world, I can help. My approach will help you slow down, reconnect with yourself, and find new ways to respond to anxiety and depression so that you can move forward with hope, self-compassion, and empowerment. We'll work to build an identity affirming space where you can find what you need.</p>
		<p>Our experiences (and mental health symptoms) are shaped in part by the ways the world responds to how we show up (e.g. gender, race, class, religion, body shape, age, LGBTQA+, neurodiversity) and the systems that help or hurt us (<em>ahem, supremecist values telling us we're not enough, ahem</em>). I'll be your ally, support, challenger, and quite frankly in this current mess, companion.</p>
		<Button url="/contact" style={{marginBottom: "1rem"}}>Connect with me</Button>
		<h3>How I Can Help</h3>
		<Grid style={{marginTop: "1rem", marginBottom: "2rem", gap: "2rem"}}>
			<a href="/services/individual-therapy" class="tile"><Cube title="Individual Therapy" url={Spot1} alt="Placeholder image" width="150px" height="150px" /></a>
			<a href="/services/emdr" class="tile"><Cube title="EMDR" url={Spot2} alt="Placeholder image" width="150px" height="150px" /></a>
			<a href="/services/supervision-and-consultation" class="tile"><Cube title="Supervision & Consultation" url={Spot3} alt="Placeholder image" width="150px" height="150px" /></a>
			<a href="/services/community-outreach" class="tile"><Cube title="Community Outreach" url={Spot4} alt="Placeholder image" width="150px" height="150px" /></a>
		</Grid>
	</div>
</BaseLayout>