---
import Images from './Images.astro';
const { title, url, alt, width, height, ...rest } = Astro.props;
---
<div class="cube" {...rest}>
	<Images class="image" src={url} alt={alt || `${title} illustration`} width={width} height={height} />
	<span class="title">{title}</span>
</div>

<style>
	.cube {
		display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
	}
	.title {
		font-size: 1rem;;
	}
</style>